<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container">
      <div
        class="box mt-5 has-text-centered"
        style="
          background-color: #cc99cc;
          color: white;
          font-weight: 200;
          font-size: larger;
        "
      >
        Manage account
      </div>
      <div style="padding-left: 150px; padding-right: 150px">
        <table
          class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth is-size-6"
          style="margin-top: 1rem; width: 100%"
        >
          <thead>
            <tr>
              <th>
                <abbr style="text-decoration: none" title="username"
                  >Username</abbr
                >
              </th>
              <th>
                <abbr style="text-decoration: none" title="name">Name</abbr>
              </th>
              <th>
                <abbr style="text-decoration: none" title="YOB">YOB</abbr>
              </th>
              <th>
                <abbr style="text-decoration: none" title="isAdmin">Admin</abbr>
              </th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(function(account, index){ %>

            <tr>
              <td><%= account.username %></td>
              <td><%= account.name %></td>
              <td><%= account.YOB %></td>
              <td><%= account.isAdmin? "Yes" : "No" %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
